annotated-types==0.7.0
apscheduler==3.9.1
beautifulsoup4==4.12.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.4
h11==0.14.0
httpcore==0.17.3
httpx==0.24.2
idna==3.7
markdownify==0.11.6
numpy==1.26.3
pandas==2.2.2
pydantic==2.8.2
pydantic-core==2.20.1
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2024.7.24
requests==2.32.3
six==1.16.0
soupsieve==2.5
unvicorn==0.15.0
tls-client==1.0.1
typing-extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
